# IDE and Editors
.idea/
.vs/
.vscode/
*.swp
*~

# CMake
/build*/
/cmake-build*/
/out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Build artifacts
*.out
*.o
*.a
*.so
*.obj
*.lib
*.dylib
*.dll
*.exe

# OS
.DS_Store
